<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to ThreadIt, <%= @user.username %></p>
    <p>
      Your account has been successfully created and verified.
    </p>

    <p>Thanks for joining ThreadIt and have a great day!</p>
  </body>
</html>